// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurant {
  vertical-align: middle;
  position: relative;
  border: 1px solid rgb(240,240,240);
  margin: 20px;
  padding: 10px;
  height: 200px;
  border-radius: 5px;
  background-color: #f4f4f4;
  box-shadow: 1px 1px 2px rgb(200,200,200);
  transition: all .5s ease;
}

.restaurant:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 5px rgb(200,200,200);
}

.restaurant-img {
  position: absolute;
  right: 10px;
  top: 25px;
  vertical-align: middle;
}

.btn-add {
  margin: 20px;
}
